python-decouple
telethon 
aiofiles
aiohttp
cryptg
DateTime
python-dotenv
gitpython
git+https://github.com/python-telegram-bot/ptbcontrib.git
heroku3
regex
requests
validators
Pillow
python-telegram-bot==13.5
psycopg2-binary
hachoir
telethon-tgcrypto
youtube-dl
youtube_search_python
youtube_search
lyricsgenius
tswift
wget
Pyrogram
asyncio
ffmpeg-python
markdown2
google_trans_new
PyDictionary
